Web Application Requirements
・Leafletで動作すること
・すべて状態をファイルで保存できること。JSONファイルで読み書きできること
・初期状態で沖縄県宮古島市が表示されること。最後に表示した位置もJSONに保存されること
・農家テーブルを読み書きできること。農家の名前は編集できること
・給水栓をポイントで作図できること。給水栓には年間使用水量が記録できること。また、複数の農家の面積割合が記録できること
・スプリンクラーをポイントで作図できること。スプリンクラーにはひとつだけ給水栓IDを記録できること
・土地をポリゴンで作図できること。土地には使用する農家のIDが記録できること
【追加要件1】
・面積割合を自動計算できること。計算ルールはスプリンクラーから半径30mの円を作成し、その円を給水栓IDでリゾルブして散水区画とし、その区画が重なる土地を農家ごとに集計して割合を計算すること。ひとつの土地に複数の区画が重なることもあり得る。その場合重なった場所はその農家の数だけ按分すること。散水区画が土地に重ならないケースも考慮すること。
　・計算例1：農家1の土地と給水栓Aの散水区画が100%重なっている場合、給水栓Aの面積割合は農家1が100%
　・計算例2：農家1の土地と給水栓Aの散水区画が60%重なり、農家2の土地と給水栓Aの散水区画が40%重なる場合、給水栓Aの面積割合は農家1が60%、農家2が40%
　・計算例3：農家1の土地と給水栓Aの散水区画が33%重なり、農家2の土地と給水栓Aの散水区画が33%重なり、土地に重ならない散水区画が34%ある場合、給水栓Aの面積割合は農家1が50%、農家2が50%
【追加要件2】
・農家ごとに水使用量を計算できること。計算ルールは給水栓の使用水量×使用割合。
【追加要件3】
・農家ごとに料金を計算できること。計算ルールは以下のとおり
　・基本料金（地積割）：賦課面積(㎡) × 2.0円/㎡
　・基本水量：賦課面積(㎡) × 0.26㎥/㎡×1.2
　・超過水量：年間使用量(㎥) − 基本水量(㎥)、ただし負の値は0とする
　・超過水量料：超過水量(㎥) × 15円/㎥
　・合計（非課税）：基本料金 + 超過水量料
・土地に賦課面積が入力できること。初期値は地図上の面積として、それを手入力で修正できること。
【追加要件4】
・給水栓の「農家の利用割合」は、利用者が自由に編集できること。初期値は面積割合で計算されたもので、利用者が入力した値を保持できること。単位は%で、入力欄の隣に計算された値が表示されていること